In [1]:
import pandas as pd

In [7]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Bot창nico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higien처polis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento

In [8]:
faixas = [0, 2, 4, 6, 100]

In [9]:
quartos = pd.cut(dados.Quartos, faixas)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
21821    (0.0, 2.0]
21822           NaN
21823    (2.0, 4.0]
21824    (0.0, 2.0]
21825    (0.0, 2.0]
Name: Quartos, Length: 21826, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [10]:
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [11]:
labels = ['1 e 2 Quartos', '3 e 4 Quartos', '5 e 6 Quartos', '7 Quartos ou mais']

In [15]:
quartos = pd.cut(dados.Quartos, faixas, labels=labels, include_lowest=True)
quartos

0        1 e 2 Quartos
1        1 e 2 Quartos
2        1 e 2 Quartos
3        1 e 2 Quartos
4        1 e 2 Quartos
             ...
21821    1 e 2 Quartos
21822    1 e 2 Quartos
21823    3 e 4 Quartos
21824    1 e 2 Quartos
21825    1 e 2 Quartos
Name: Quartos, Length: 21826, dtype: category
Categories (4, object): ['1 e 2 Quartos' < '3 e 4 Quartos' < '5 e 6 Quartos' < '7 Quartos ou mais']

In [16]:
quartos.value_counts()

1 e 2 Quartos        11409
3 e 4 Quartos         9681
5 e 6 Quartos          686
7 Quartos ou mais       50
Name: Quartos, dtype: int64