# Criando Estruturas de dados

In [34]:
import pandas as pd

## Series

In [35]:
data = [1, 2, 3, 4, 5]

In [36]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [37]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [38]:
s = pd.Series(data=data, index=index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [39]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [40]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [41]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [42]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## Dataframe

In [43]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
df1 = pd.DataFrame(data=data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [45]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [46]:
df2 = pd.DataFrame(data=data, index=index)
df2

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [47]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [48]:
df3 = pd.DataFrame(data=data, index=index, columns=columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [49]:
data = {
    'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
    'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
    'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}
}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [50]:
df4 = pd.DataFrame(data)
df4

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [51]:
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [52]:
df5 = pd.DataFrame(data=data, index=index, columns=columns)
df5

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [53]:
df3[df3 > 0] = 'A'
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [54]:
df4[df4 > 0] = 'B'
df4

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [55]:
df5[df5 > 0] = 'C'
df5

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [57]:
df6 = pd.concat([df3, df4, df5])
df6

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [58]:
df7 = pd.concat([df3, df4, df5], axis=1)
df7

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C