In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('ncsaoceuveuvnw'))
s

0     n
1     c
2     s
3     a
4     o
5     c
6     e
7     u
8     v
9     e
10    u
11    v
12    n
13    w
dtype: object

In [4]:
s.unique()

array(['n', 'c', 's', 'a', 'o', 'e', 'u', 'v', 'w'], dtype=object)

In [5]:
s.value_counts()

n    2
c    2
e    2
u    2
v    2
s    1
a    1
o    1
w    1
dtype: int64

In [7]:
dados = pd.read_csv('dados_extra/aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64