# Relatório de Análise IV

## Seleções e Frequências

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

## Selecione somente os imóveis classificados com tipo 'Apartamento'

In [6]:
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

## Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [15]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

## Seleciones os imóveis com área entre 60 e 100 metros quadrados, incluindos os limites

In [17]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

## Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [18]:
selecao = (dados['Valor'] < 2000) & (dados['Quartos'] >= 4)
n4 = dados[selecao].shape[0]
n4

41

In [19]:
print(f'''
Nº de imóveis classificados com tipo "Apartamento": {n1}
Nº de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": {n2}
Nº de imóveis com área entre 60 e 100 metros, incluindo os limites: {n3}
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00" {n4}
''')

Nº de imóveis classificados com tipo "Apartamento": 19532
Nº de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": 2212
Nº de imóveis com área entre 60 e 100 metros, incluindo os limites: 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00" 41